@charset "UTF-8";

html{
	min-width: 700px;
	scroll-behavior: smooth;
    margin-bottom: 40px;
}

body{
    padding-left: 10px;
    padding-right: 10px;
}

header{
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 2px solid black;
}

header p{
    font-family: fantasy;
    font-size: 20px;
    letter-spacing: 7px;
    padding: 10px;
}

.top-button{
    position: sticky;
    top: 50px;
    padding: 0;
}

.top-button ul{
    padding: 0;
}

.top-button ul a{
    background-color: grey;
    display: table-cell;
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 1%;
    text-align: center;
    text-decoration: none;
    color: black;
}

.top-button ul a:hover{
    background-color: darkgray;
}

.intro-content{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.subhead-text{
    background-color: deepskyblue;
    color: white;
    font-size: 48px;
}

.intro-article{
    margin: auto;
    font-size-adjust: inherit;
    text-align: center center;
    font-size: 24px;
}

.my-pic{
    margin: 20px;
    float: right;
    width: 30%;
    height: 30%;
}

.works-content{
    list-style: none;
}

.works-content img{
    width: 40%;
    height: 40%;
}

.works-content ul li{
    font-size: 36px;
    list-style: none;
    text-align: center;
}

.skills{
    font-size: 24px;
}

.skills table{
    margin: auto;
    width: 70%;
}

.skills table td{
    padding: 10px;
}

.stat{
    float: right;
}

.contact-content{
    font-size: 24px;
}

.contact-content p{
    text-align: center;
}